# LaTeX intermediate files
*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.out
*.toc
*.fdb_latexmk
*.fls
*.brf
latex-src/latex-output/*

# Ignore the template files
*/cvpr2023-author_kit-v1_1-1/*

# Data files
Handwriting-Transformers
demo_output
DataSet/*
!DataSet/*.jpeg
*.pth

# Python intermediate files
*.pyc
__pycache__/